body {
  /* font-family: 'Nanum Gothic', sans-serif; */
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: 1.4; */
  /* color: #333; */
}

a {
  text-decoration: none;
}

img {
  /* img(인라인 요소) 하단에 Baseline 공백을 제거 */
  display: block;
}

/*INNER*/
.inner {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background: #363636 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
header > .inner {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
}

header .title {
  font: normal normal normal 20px/24px Open Sans;
  letter-spacing: 0px;
  color: #cecece;
}

header h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header .sub-menu {
}

header .sub-menu ul.menu {
  display: flex;
}

header .sub-menu ul.menu li {
  margin-left: 20px;
}
